<footer class="footer">
  <div class="footer-container container">
    <ul class="footer-list">
      <li class="footer-item"><a href="">About us</a></li>
      <li class="footer-item"><a href="">Our collection</a></li>
      <li class="footer-item"><a href="">Customers order</a></li>
      <li class="footer-item"><a href="">Testimonials</a></li>
    </ul>
    <p class="footer-text">
      A touch of <span class="accent-color">Ukrainian</span> culture
      in&nbsp;every embroidery
    </p>
  </div>
</footer>
