<section class="hero-section">
  <div class="container hero-container">
    <div class="thumb-hero-tittle">
      <h1 class="hero-tittle">
        Reviving the traditional
        <span class="span-hero">Ukrainian</span> artistry in every stitch.
      </h1>
      <button class="button-hero">
        Order
        <span class="svg-span">
          <svg width="36" height="25" class="svg-button-hero">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </span>
      </button>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="./images/desctophero@1x.jpg 1x, ./images/desctophero@2x.jpg 2x"
      />
      <source
        media="(min-width: 1280px)"
        srcset="./images/desctophero@1x.jpg 1x, ./images/desctophero@2x.jpg 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/tablethero@1x.jpg 1x, ./images/tablethero@2x.jpg 2x"
      />
      <source
        media="(max-width: 767px)"
        srcset="./images/mobilehero@1x.jpg 1x, ./images/mobilehero@2x.jpg 2x"
      />
      <img
        src="./images/mobilehero@1x.jpg"
        alt="A girl in an embroidered dress"
        class="image-hero-first"
      />
    </picture>
    <div class="thumb-hero">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/desctopheroukraine@1x.jpg 1x,
            ./images/desctopheroukraine@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desctopheroukraine@1x.jpg 1x,
            ./images/desctopheroukraine@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tabletheroukraine@1x.jpg 1x,
            ./images/tabletheroukraine@2x.jpg 2x
          "
        />
        <img
          src="./images/tabletheroukraine@1x.jpg"
          alt=""
          class="img-hero-second"
        />
      </picture>
    </div>
    <div class="thumb-hero-second">
      <svg width="52" height="51" class="svg-hero">
        <use href="./images/icons.svg#icon-Star-10"></use>
      </svg>
      <p class="hero-paragraph">all embroidery is made by hand</p>
    </div>
  </div>
</section>
