<section class="hero-section">
  <div class="container hero-container">
    <div class="thumb-hero-tittle">
      <h1 class="hero-tittle">
        Reviving the traditional
        <span class="span-hero">Ukrainian</span> artistry in every stitch.
      </h1>
      <a href="#order" class="button-hero">
        Order
        <span class="svg-span">
          <svg width="36" height="25" class="svg-button-hero">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </span>
      </a>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/hero/desctophero@1x.webp 1x,
          ./images/hero/desctophero@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/desctophero@1x.webp 1x,
          ./images/hero/desctophero@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/tablethero@1x.webp 1x,
          ./images/hero/tablethero@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/mobilehero@1x.webp 1x,
          ./images/hero/mobilehero@2x.webp 2x
        "
      />
      <img
        src="./images/hero/mobilehero@1x.webp"
        alt="A girl in an embroidered dress"
        class="image-hero-first"
        width="335"
        height="545"
      />
    </picture>
    <div class="thumb-hero">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/hero/desctopheroukraine@1x.webp 1x,
            ./images/hero/desctopheroukraine@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero/desctopheroukraine@1x.webp 1x,
            ./images/hero/desctopheroukraine@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/tabletheroukraine@1x.webp 1x,
            ./images/hero/tabletheroukraine@2x.webp 2x
          "
        />
        <img
          src="./images/hero/tabletheroukraine@1x.webp"
          alt=""
          class="img-hero-second"
          width="139"
          height="197"
        />
      </picture>
    </div>
    <div class="thumb-hero-second">
      <svg width="52" height="51" class="svg-hero">
        <use href="./images/icons.svg#icon-Star-10"></use>
      </svg>
      <p class="hero-paragraph">all embroidery is made by hand</p>
    </div>
  </div>
</section>
