<section class="collection-container">
  <div class="container">
    <h2 class="collection-header" id="collection">Our collection</h2>
    <ul class="collection-ul">
      <!--  Picture 1 -->
      <li class="collection-list" data-aos="flip-left" data-aos-delay="200">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-first@1x.webp 1x,
              ./images/our-collect/largedesk-first@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-first@1x.jpg 1x,
              ./images/our-collect/largedesk-first@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-first@1x.webp 1x,
              ./images/our-collect/desk-first@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-first@1x.jpg 1x,
              ./images/our-collect/desk-first@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-first@1x.webp 1x,
              ./images/our-collect/tablet-first@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-first@1x.jpg 1x,
              ./images/our-collect/tablet-first@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-first@1x.webp 1x,
              ./images/our-collect/mobile-first@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-first@1x.jpg 1x,
              ./images/our-collect/mobile-first@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            srcset="
              ./images/our-collect/mobile-first@1x.jpg 1x,
              ./images/our-collect/mobile-first@2x.jpg 2x
            "
            src="./images/our-collect/mobile-first@1x.jpg"
            alt="The first picture: A black-colored Ukrainian women's blouse with embroidery."
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="collection-dsc-box">
          <h3 class="collection-description">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <!--  Picture 2 -->
      <li class="collection-list" data-aos="flip-left" data-aos-delay="300">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-sec@1x.webp 1x,
              ./images/our-collect/largedesk-sec@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-sec@1x.jpg 1x,
              ./images/our-collect/largedesk-sec@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-sec@1x.webp 1x,
              ./images/our-collect/desk-sec@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-sec@1x.jpg 1x,
              ./images/our-collect/desk-sec@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-sec@1x.webp 1x,
              ./images/our-collect/tablet-sec@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-sec@1x.jpg 1x,
              ./images/our-collect/tablet-sec@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-sec@1x.webp 1x,
              ./images/our-collect/mobile-sec@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-sec@1x.jpg 1x,
              ./images/our-collect/mobile-sec@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="collection-img"
            srcset="
              ./images/our-collect/mobile-sec@1x.jpg 1x,
              ./images/our-collect/mobile-sec@2x.jpg 2x
            "
            src="./images/our-collect/mobile-sec@1x.jpg "
            alt="The second picture: A skin-colored Ukrainian women's blouse with embroidery."
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="collection-dsc-box">
          <h3 class="collection-description">Women's blouse Gorgany</h3>
          <p class="collection-price">3350 UAH</p>
        </div>
      </li>
      <!--  Picture 3 -->
      <li class="collection-list" data-aos="flip-left" data-aos-delay="400">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-third@1x.webp 1x,
              ./images/our-collect/largedesk-third@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-third@1x.jpg 1x,
              ./images/our-collect/largedesk-third@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-third@1x.webp 1x,
              ./images/our-collect/desk-third@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-third@1x.jpg 1x,
              ./images/our-collect/desk-third@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-third@1x.webp 1x,
              ./images/our-collect/tablet-third@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-third@1x.jpg 1x,
              ./images/our-collect/tablet-third@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-third@1x.webp 1x,
              ./images/our-collect/mobile-third@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-third@1x.jpg 1x,
              ./images/our-collect/mobile-third@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="collection-img"
            srcset="
              ./images/our-collect/mobile-third@1x.jpg 1x,
              ./images/our-collect/mobile-third@2x.jpg 2x
            "
            src="./images/our-collect/mobile-third@1x.jpg"
            alt="The third picture: A white-colored Ukrainian women's blouse with embroidery."
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="collection-dsc-box">
          <h3 class="collection-description">Women's blouse Crimea</h3>
          <p class="collection-price">4000 UAH</p>
        </div>
      </li>
      <!--  Picture 4 -->
      <li class="collection-list" data-aos="flip-left" data-aos-delay="500">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-fourth@1x.webp 1x,
              ./images/our-collect/largedesk-fourth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-fourth@1x.jpg 1x,
              ./images/our-collect/largedesk-fourth@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-fourth@1x.webp 1x,
              ./images/our-collect/desk-fourth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-fourth@1x.jpg 1x,
              ./images/our-collect/desk-fourth@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-fourth@1x.webp 1x,
              ./images/our-collect/tablet-fourth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-fourth@1x.jpg 1x,
              ./images/our-collect/tablet-fourth@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-fourth@1x.webp 1x,
              ./images/our-collect/mobile-fourth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-fourth@1x.jpg 1x,
              ./images/our-collect/mobile-fourth@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="collection-img"
            srcset="
              ./images/our-collect/mobile-fourth@1x.jpg 1x,
              ./images/our-collect/mobile-fourth@2x.jpg 2x
            "
            src="./images/our-collect/mobile-fourth@1x.jpg"
            alt="The fourth picture: A skin-colored Ukrainian men's shirt with embroidery."
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="collection-dsc-box">
          <h3 class="collection-description">Men's shirt Verkhovina</h3>
          <p class="collection-price">3100 UAH</p>
        </div>
      </li>
      <!--  Picture 5 -->
      <li class="collection-list" data-aos="flip-left" data-aos-delay="600">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-fifth@1x.webp 1x,
              ./images/our-collect/largedesk-fifth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-fifth@1x.jpg 1x,
              ./images/our-collect/largedesk-fifth@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-fifth@1x.webp 1x,
              ./images/our-collect/desk-fifth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-fifth@1x.jpg 1x,
              ./images/our-collect/desk-fifth@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-fifth@1x.webp 1x,
              ./images/our-collect/tablet-fifth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-fifth@1x.jpg 1x,
              ./images/our-collect/tablet-fifth@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-fifth@1x.webp 1x,
              ./images/our-collect/mobile-fifth@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-fifth@1x.jpg 1x,
              ./images/our-collect/mobile-fifth@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="collection-img"
            srcset="
              ./images/our-collect/mobile-fifth@1x.jpg 1x,
              ./images/our-collect/mobile-fifth@2x.jpg 2x
            "
            src="./images/our-collect/mobile-fifth@1x.jpg"
            alt="The fifth picture: A black-colored Ukrainian men's shirt with embroidery."
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="collection-dsc-box">
          <h3 class="collection-description">Mountain men's shirt</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <!--  Picture 6 -->
      <li class="collection-list" data-aos="flip-left" data-aos-delay="700">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-six@1x.webp 1x,
              ./images/our-collect/largedesk-six@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/our-collect/largedesk-six@1x.jpg 1x,
              ./images/our-collect/largedesk-six@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-six@1x.webp 1x,
              ./images/our-collect/desk-six@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/our-collect/desk-six@1x.jpg 1x,
              ./images/our-collect/desk-six@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-six@1x.webp 1x,
              ./images/our-collect/tablet-six@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/our-collect/tablet-six@1x.jpg 1x,
              ./images/our-collect/tablet-six@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-six@1x.webp 1x,
              ./images/our-collect/mobile-six@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/our-collect/mobile-six@1x.jpg 1x,
              ./images/our-collect/mobile-six@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="collection-img"
            srcset="
              ./images/our-collect/mobile-six@1x.jpg 1x,
              ./images/our-collect/mobile-six@2x.jpg 2x
            "
            src="./images/our-collect/mobile-six@1x.jpg"
            alt="The sixth picture: A white-colored Ukrainian men's shirt with embroidery."
            width="335"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="collection-dsc-box">
          <h3 class="collection-description">Men's shirt Yasen</h3>
          <p class="collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
