.about-us-h2 {
  color: var(--color);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}
.about-us-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .about-us-div {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us-div {
    flex-direction: row;
  }
}
.about-us-p {
  color: var(--color-op40);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}
.about-us-p:not(:last-child) {
  margin-bottom: 20px;
}
/* .about-us-div-text {
} */
@media screen and (min-width: 768px) {
  .about-us-div-text {
    gap: 40px;
  }
  .about-us-p {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us-div-text {
    width: 436px;
  }
}
.about-us-img {
  border-radius: 4px;
  width: 335px;
  height: 499px;
}
@media screen and (min-width: 768px) {
  .about-us-img {
    width: 704px;
    height: 545px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us-img {
    width: 594px;
    height: 545px;
  }
}
.about-us-section {
  padding-bottom: 62px;
}
.about-us-section {
  background-image: url(../images/about-us/g8-mobile.png);
  background-size: 459px 408px;
  background-repeat: no-repeat;

  background-position: bottom right calc(50% - 167px);
  color: var(--color-op10);
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .about-us-section {
    background-image: url(../images/about-us/g8-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about-us-section {
    background-image: url(../images/about-us/g8-tablet.png);
    background-size: 544px 448px;
    background-position: bottom right calc(50% - 287px);
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .about-us-section {
      background-image: url(../images/about-us/g8-tablet@2x.png);
    }
  }
}
@media screen and (min-width: 1280px) {
  .about-us-section {
    background-image: url(../images/about-us/g8-desctop.png);
    background-size: 545px 484px;
    background-position: bottom right calc(50% - 527px);
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .about-us-section {
      background-image: url(../images/about-us/g8-desctop@2x.png);
    }
  }
}
@media screen and (min-width: 1440px) {
  .about-us-section {
    background-position: bottom right calc(50% - 447px);
  }
}
