.footer {
  padding-top: 40px;
  outline: 1px solid var(--color-op10);
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
}
.footer-container,
.footer {
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    padding-bottom: 292px;
  }
}
@media screen and (max-width: 1279.98px) {
  .footer {
    background-image: url('../images/footer/footer-elements-mobile-tablet.png');
    background-size: 451px 401px;
    background-position: center 437px;
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .footer {
      background-image: url('../images/footer/footer-elements-mobile-tablet@2x.png');
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-position: center right calc(50% - 435px);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 28px;
    background-image: url('../images/footer/footer-elements-desctop.png');
    background-size: 594px 528px;
    background-position: top calc(-61px) right calc(50% - 602px);
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .footer {
      background-image: url('../images/footer/footer-elements-desctop@2x.png');
    }
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    background-position: top calc(-61px) right calc(50% - 602px);
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .footer-list {
    width: 280px;
    height: 61px;
  }
}
@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-list {
    margin-bottom: 105px;
  }
}
.footer-item {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
  border-radius: 15px;
  background-image: linear-gradient(
    to top,
    rgba(236, 217, 121, 0.06),
    rgba(236, 217, 121, 0.01)
  );
  background-size: 0%;
  transition: color var(--delay) var(--trnz), box-shadow 700ms ease-in-out,
    background-size 400ms ease-in-out;
}
@media screen and (min-width: 1280px) {
  .footer-item:hover,
  .footer-item:hover {
    color: var(--accent-color);
    box-shadow: rgba(236, 217, 121, 0.08) 0px 4px 12px;
    background-size: 100%;
  }
}
.footer-text {
  color: var(--color);
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 122.727% */
  letter-spacing: -1.32px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;
    display: block;
    width: 521px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-text {
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;
    width: 754px;
  }
}
