/* =============LOGO============== */
.logo {
    display: inline-flex;
    text-align: center;
}

@media only screen and (min-width: 1280px) {
    .logo {
        margin-right: 60px;
    }
} 
/* ============/LOGO============== */

/* ==========NAVIGATION=========== */
.header {
    padding: 24px 0 0 0;
}

@media only screen and (min-width: 1280px) {
    .header {
        padding: 22px 0 0 0;
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        padding: 20px 0 0 0;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .page-nav {
        margin-right: 440px;
    }
}

@media only screen and (min-width: 1280px) {
    .page-nav {
        margin-right: 129px;
    }
}

.menu {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

@media only screen and (max-width: 1279.98px) {
    .menu {
        display: none;
    }
}

.menu-link {
    color: var(--color);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;

    transition: ;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.social-container {
    display: flex;
    margin-right: 12px;
}

@media only screen and (min-width: 768px) {
    .social-container {
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .social-container {
        margin-right: 0;
    }
}

.contacts-link {
    color: var(--color);

    display: flex;

    font-size: 14px;
    line-height: 1.43;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid var(--color-op10);

    transition: ;
}

.contacts-link:hover,
.contacts-link:focus {
    border-color: var(--accent-color);
}

@media only screen and (min-width: 1280px) {
    .contacts-link {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1279.98px) {
    .contacts-link {
        display: none;
    }
}

.header-icons-list {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-icons-item {
    width: 44px;
    height: 44px;
}

.header-icons-link {
    background-color: var(--color-op10);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--color-op10);
    width: 100%;
    height: 100%;

    transition: ;
}

.header-icons-link:hover,
.header-icons-link:focus {
    border-color: var(--accent-color);
}

.header-svg {
    fill: var(--color);
    opacity: 0.8;
}

.mobile-menu {
    background-color: transparent;
    border: none;
}

.mobile-menu-icon {
    stroke: var(--accent-color);
}

@media only screen and (min-width: 1280px) {
    .mobile-menu {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-menu-icon {
        width: 44px;
        height: 30px;
    }
}
/* ==========/NAVIGATION=========== */

/* ============MOBILE MENU=========== */
/* .backdrop-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: var(--background-burger-menu-op20);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
} */

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    width: 274px;
    height: 100%;
    padding: 20px 20px 0 20px;
    background-color: var(--accent-color);
    background-image: url(../images/mobile-menu/mobileburgerelements.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 999;
    opacity: 1;

    transform: translateX(100%);
    transition: ;
}

@media only screen and (min-width: 768px) {
    .menu-container {
        width: 380px;
        padding: 20px 32px 0;
        background-image: url(../images/mobile-menu/tabletburgerbackgroundelements.png);
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-contacts-link {
    color: var(--color-burger-menu);

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    padding: 12px 20px;
    margin-bottom: 186px;
    width: fit-content;

    border-radius: 15px;
    border: 1px solid var(--color-burger-menu-op10);
}

.menu-contacts-link:hover.
.menu-contacts-link:focus {
    border-color: var(--color);
}

@media only screen and (min-width: 768px) {
    .menu-contacts-link {
        font-size: 14px;
        line-height: 1.43;
        padding: 14px 28px;
        margin-bottom: 339px;
    }
}

.menu-toggle {
    position: absolute;
    top: 21px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
    border: none;

    color: var(--color-burger-menu);
    background-color: transparent;

    transition: ;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: var(--color);
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        top: 20px;
        right: 32px;

        width: 44px;
        height: 44px;
    }
}

.menu-toggle-icon {
    stroke: currentColor;
    transition: ;
}

.mobile-menu-item {
    text-align: right;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .mobile-menu-item:not(:last-child) {
        margin-bottom: 25px;
    }
}

.mobile-menu-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
}

.mobile-menu-link.active {
    color: var(--color);
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contatcs-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contacts-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-contacts-link.active {
    color: var(--color);
    background-color: var(--color-burger-menu);
}
/* ===========-MOBILE MENU=========== */