.hero-section {
  padding: 60px 0 80px 0;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 106px 0 100px 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 100px 0 150px 0;
  }
}
.hero-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    flex-direction: row-reverse;
    justify-content: start;
  }
}
.thumb-hero-tittle {
  animation: slide-bottom 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .thumb-hero-tittle {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    scale: 1.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    scale: 1;
  }
}
.hero-tittle {
  color: var(--color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  max-width: 335px;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero-tittle {
    max-width: 549px;
    font-size: 54px;
    line-height: 1.18;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-tittle {
    max-width: 518px;
    margin-top: 94px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-tittle {
    max-width: 630px;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.16;
    margin-top: 66px;
  }
}
.span-hero {
  color: var(--accent-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .span-hero {
    font-size: 54px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1440px) {
  .span-hero {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.16;
  }
}
.button-hero {
  display: inline-flex;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: var(--color);
  margin-bottom: 40px;
  margin-left: 70px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  transition: border-color var(--delay) var(--trnz);
}
.button-hero:hover {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .button-hero {
    height: 50px;
    font-size: 16px;
    padding: 14px 39px;
    margin-left: 141px;
  }
}
@media screen and (min-width: 1280px) {
  .button-hero {
    margin: 0;
    margin-left: 141px;
    width: 168px;
    height: 50px;
    font-size: 16px;
    padding: 14px 39px;
  }
}

.svg-button-hero {
  fill: var(--accent-color);
}
.image-hero-first {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .image-hero-first {
    width: 413px;
    height: 575px;
  }
}
@media screen and (min-width: 1280px) {
  .image-hero-first {
    width: 395px;
    height: 545px;
  }
}
.thumb-hero {
  display: none;
}
@media screen and (min-width: 768px) {
  .thumb-hero {
    display: block;
    position: absolute;
    bottom: -80px;
    right: 32px;
    width: 157px;
    height: 191px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .thumb-hero {
    width: 142px;
    height: 156px;
    bottom: -55px;
    right: 100px;
  }
}
.img-hero-second {
  width: 100%;
}

.thumb-hero-second {
  display: none;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  width: 115px;
}
@media screen and (min-width: 768px) {
  .thumb-hero-second {
    display: flex;
    position: absolute;
    top: -26px;
    right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb-hero-second {
    top: 14px;
    right: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .thumb-hero-second {
    top: 66px;
    right: 100px;
  }
}
.svg-hero {
  fill: var(--accent-color);
}
.hero-paragraph {
  color: var(--color-op40);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
