/* ========================= Our Collection ========================= */
.collection-list {
  width: calc((100% - var(--indent-y) * (var(--items) - 1)) / var(--items));
}

/* Card set */
.collection-ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-x) var(--indent-y);
}
/* Container */
.collection-container {
  padding: 18px 20px 80px;
  background-image: url('../images/our-collect/back-mobile.png');
  background-repeat: no-repeat;
  background-position: left 316px;
  background-size: 199px 177px;
}

@media only screen and (min-width: 375px) {
  .collection-container {
    padding: 50px 32px 100px;
    background-image: url('../images/our-collect/back-tablet.png');
    background-position: left 271px;
    background-size: 338px 300px;
  }
}

@media only screen and (min-width: 768px) {
  .collection-container {
    padding: 70px 98px 150px;
    background-image: url('../images/our-collect/back-desk.png');
    background-position: left 291px;
  }
}

@media only screen and (min-width: 1200px) {
  .collection-container {
    padding: 70px 100px 150px;
    background-position: left 301px;
  }
}

/*  h2 */
.collection-header {
  color: var(--color);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

@media only screen and (min-width: 375px) {
  .collection-header {
    font-size: 44px;
    line-height: 1.45;
  }
}

/*  List  */
@media only screen and (min-width: 375px) {
  .collection-list {
    --items: 2;
  }
}

@media only screen and (min-width: 768px) {
  .collection-list {
    --items: 3;
    --indent-x: calc(var(--indent-y) * 2);
  }
}

/*  menu  */
@media only screen and (min-width: 768px) {
  .collection-ul {
    --indent-x: calc(var(--indent-y) * 2);
  }
}

.collection-dsc-box {
  margin-top: 18px;
}

/* .collection-description:first-child {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
} */

.collection-description {
  overflow: hidden;
  color: var(--color);
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media only screen and (min-width: 375px) {
  .collection-description {
    font-size: 18px;
  }
}

.collection-price {
  color: var(--color-op40);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 375px) {
  .collection-price {
    font-size: 18px;
  }
}

.collection-img {
  border-radius: 4px;
}

@media only screen and (min-width: 375px) {
  .collection-img {
    width: 342px;
    height: 430px;
  }
}

@media only screen and (min-width: 768px) {
  .collection-img {
    width: 347px;
  }
}

@media only screen and (min-width: 1200px) {
  .collection-img {
    width: 400px;
  }
}

/* ==================================================================== */
