:root {
  --accent-color: #ecd979;
  --color: #fcf9f9;
  --color-op50: rgba(252, 249, 249, 0.5);
  --color-op40: rgba(252, 249, 249, 0.4);
  --color-op10: rgba(252, 249, 249, 0.1);
  --color-burger-menu: #1c2225;
  --color-burger-menu-op10: #1c22251a;

  /* Card set */
  --indent-y: 20px;
  --indent-x: var(--indent-y);
  --items: 1;

  /* transition */
  --delay: 350ms;
  --trnz: ease;
}
